<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="alert alert-primary" role="alert">
            <h1 style="font-family: 고딕; font-size: 30px"> 멋쟁이 사자처럼 </h1>
        </div>
        
        <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">개요</h5>
                  <p class="card-text">이두희가 만든 비전공자를 대상으로 코딩을 가르치는 대학 연합 동아리

                        표어는 "내가 직접 프로그래밍하겠다." </p>
                  <a href="https://likelion.net/" class="btn btn-primary">홈페이지</a>
                </div>
        </div>
        
        <br><br>
        <div class="alert alert-primary" role="alert">
                <h1 style="font-family: 고딕; font-size: 30px">출신 서비스</h1>
        </div>
        <div class="card w-75">
                <div class="card-body">
                  <h5 class="card-title">자소설닷컴</h5>
                  <p class="card-text">자기소개서의 관리 서비스. 멋사 출신 서비스 중 가장 잘 알려진 서비스 중 하나이며 현재 SENTBE와 함께 멋사 4기 후원사 중 하나이다. </p>
                  <a href="http://jasoseol.com/" class="btn btn-primary">Button</a>
                </div>
              </div>
              
              <div class="card w-50">
                <div class="card-body">
                  <h5 class="card-title">강남 엄마</h5>
                  <p class="card-text">학원 정보 공유 서비스. 3기 고려대 학생들이 만든 것으로 알려졌다.</p>
                  <a href="https://gangmom.kr/" class="btn btn-primary">강남 엄마</a>
                </div>
              </div>

              <div class="card w-50">
                    <div class="card-body">
                      <h5 class="card-title">탈잉</h5>
                      <p class="card-text">대학생 튜터-튜티 매칭 서비스. 고려대 학생들이 만든 것으로 알려졌다.</p>
                      <a href="http://taling.me/" class="btn btn-primary">탈잉</a>
                    </div>
            </div>
    </div>
</body>